In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

In [5]:
sq = """with base as 
(select id, cust_mobile1 mobile , created_dt, created_by, 'mobile1' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_mobile2 mobile , created_dt, created_by, 'mobile2' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_ref_mobile1 mobile , created_dt, created_by, 'mobileref1' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_ref_mobile2 mobile , created_dt, created_by, 'mobileref2' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
),
base2 as(select customerId, mobileNo, refContact, Ref1_contact, Ref2_contact  from `risk_credit_mis.loan_master_table` where customerId = 1795289),
base3 as (select customerId, mobileNo mob, 'mobileNo'tab from `risk_credit_mis.loan_master_table` 
union all  
select customerId, Ref1_contact mob, 'Ref1_contact'tab from `risk_credit_mis.loan_master_table` 
union all  
select customerId, Ref2_contact mob, 'Ref2_contact'tab from `risk_credit_mis.loan_master_table` )
select * from base2 b2
inner join base b on right(b2.mobileNo, 10) = right(b.mobile, 10) or right(b2.Ref1_contact, 10) = right(b.mobile, 10) or right(b2.Ref2_contact, 10) = right(b.mobile, 10)
inner join base3 b3 on right(b3.mob, 10) = right(b.mobile, 10)
;
"""

In [6]:
df = client.query(sq).to_dataframe(progress_bar_type='tqdm')

Job ID 177e7348-edb5-4454-8121-4a179fa7f6c8 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

In [8]:
df.to_csv(r"blacklisteddataforpartyid_1795289.csv", index = False)

In [9]:
df.head()

,customerId,mobileNo,refContact,Ref1_contact,Ref2_contact,id,mobile,created_dt,created_by,tab,customerId_1,mob,tab_1
0,1795289,639919309830,639058392716;639451029431,639058392716,639451029431,18689,639919309830,2022-12-10 06:32:48+00:00,vfrias@tonikbank.com,mobile1,1795315,639919309830,Ref2_contact
1,1795289,639919309830,639058392716;639451029431,639058392716,639451029431,18689,639919309830,2022-12-10 06:32:48+00:00,vfrias@tonikbank.com,mobileref1,1795315,639919309830,Ref2_contact
2,1795289,639919309830,639058392716;639451029431,639058392716,639451029431,18689,639919309830,2022-12-10 06:32:48+00:00,vfrias@tonikbank.com,mobileref2,1795315,639919309830,Ref2_contact
3,1795289,639919309830,639058392716;639451029431,639058392716,639451029431,18689,639919309830,2022-12-10 06:32:48+00:00,vfrias@tonikbank.com,mobile1,1795289,639919309830,mobileNo
4,1795289,639919309830,639058392716;639451029431,639058392716,639451029431,18689,639919309830,2022-12-10 06:32:48+00:00,vfrias@tonikbank.com,mobileref1,1795289,639919309830,mobileNo