# <div align="center" style="color: #ff5733;">Anti-Fraud Ops Request | 31JAN24</div>

In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

In [4]:
dfr = pd.read_excel(r"D:\MyStuff\Mela Sombillo csombillo1@tonikbank.com\Anti-Fraud Ops Request  31JAN24\Anti-Fraud Ops Request l 31JAN24.xlsx", sheet_name='Masterfile')
print(f"The rows and columns in dfr are:\t {dfr.shape}")

The rows and columns in dfr are:	 (36, 26)

In [5]:
dfr.head()

,customerId,Source,loanAccountNumber,disbursedLoanAmount,dateOfBirth,name,mobileNo,Ref1_contact,Ref2_contact,tinNumber,...,loanPaidStatus,custLoanJourneyZipCode,custLoanJourneyCity,custLoanJourneyProvince,booking_date,Unnamed: 21,natureofwork,industryDescription,subIndustryDescription,installmentNumber
0,1939047,CDD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950344,CDD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2121636,CDD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2139555,CDD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2175459,CDD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check the columns
dfr.columns

Index(['customerId', 'Source', 'loanAccountNumber', 'disbursedLoanAmount',
       'dateOfBirth', 'name', 'mobileNo', 'Ref1_contact', 'Ref2_contact',
       'tinNumber', 'docType', 'docNumber', 'email', 'tsa_zip', 'tsa_city',
       'tsa_province', 'loanPaidStatus', 'custLoanJourneyZipCode',
       'custLoanJourneyCity', 'custLoanJourneyProvince', 'booking_date',
       'Unnamed: 21', 'natureofwork', 'industryDescription',
       'subIndustryDescription', 'installmentNumber'],
      dtype='object')

In [7]:
a = tuple(dfr['customerId'])
a[0:5]

(1939047, 1950344, 2121636, 2139555, 2175459)

In [8]:
sq = f"""select customerId, 'CDD' Source 
, loanAccountNumber
, disbursedLoanAmount
, dateOfBirth
, firstName||''||middleName||''||lastName name
, mobileNo 
, Ref1_contact
, Ref2_contact
, tinNumber
, docType
, docNumber
, email
, postalCode tsa_zip
, city tsa_city
, province tsa_province
, loanPaidStatus
, custLoanJourneyZipCode custLoanJourneyZipCode
, custLoanJourneyCity
, custLoanJourneyProvince
, format_date('%Y-%m-%d',disbursementDateTime) booking_date
, natureofwork
, industryDescription
, subIndustryDescription
from `risk_credit_mis.loan_master_table` 
where customerId in {a}
"""
print(sq)

select customerId, 'CDD' Source
, loanAccountNumber
, disbursedLoanAmount
, dateOfBirth
, firstName||''||middleName||''||lastName name
, mobileNo
, Ref1_contact
, Ref2_contact
, tinNumber
, docType
, docNumber
, email
, postalCode tsa_zip
, city tsa_city
, province tsa_province
, loanPaidStatus
, custLoanJourneyZipCode custLoanJourneyZipCode
, custLoanJourneyCity
, custLoanJourneyProvince
, format_date('%Y-%m-%d',disbursementDateTime) booking_date
, natureofwork
, industryDescription
, subIndustryDescription
from `risk_credit_mis.loan_master_table`
where customerId in (1939047, 1950344, 2121636, 2139555, 2175459, 2174171, 2206995, 2214208, 2219878, 2218217, 2240084, 2240085, 2246339, 2248953, 2267765, 2273241, 2277720, 2288726, 2291225, 2291339, 2294190, 2294260, 2299942, 1515384, 2308089, 2312790, 2312412, 2318437, 2320147, 2321013, 2321127, 2325943, 2326415, 2335773, 2336369, 2340524)

In [9]:
df = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')

Job ID bad9b98d-402b-43fc-8954-98b8c0afbc78 successfully executed: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ|
Downloading: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ|

In [10]:
print(f"The shape of the df are:\t{df.shape}")

The shape of the df are:	(37, 24)

In [11]:
df.to_excel("Anti-Fraud Ops Request l 31JAN24_data.xlsx", sheet_name='rawdata', index = False)