In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r"C:\Users\DwaipayanChakroborti\OneDrive - Tonik Financial Pte Ltd\MyStuff\Mela Sombillo csombillo1@tonikbank.com\JIRA ticket and Ticket Summary\JIRA ticket and Ticket Summary.csv")

In [3]:
df.head()

,customerId,loanAccountNumber,disbursedLoanAmount,dateOfBirth,Age,name,Ref1_contact,Ref2_contact,tinNumber,docType,...,custLoanJourneyZipCode,custLoanJourneyCity,custLoanJourneyProvince,geolocation,loan_app_d,Loan app Time,employmentstatus,natureofwork,industryDescription,subIndustryDescription
0,1152544,NaN,NaN,20-Nov-66,58,DAVID ROPETA LABUSON JR,639063152204,639487565079,353766854,Philippines - Social Security Card #1,...,4600,DAET,CAMARINES NORTE,1.280894 | 103.849252,29-11-2021,T10:22:59,UNEMPLOYED,NaN,Services,Others
1,1537578,NaN,NaN,15-Oct-89,35,JUDITH PUNZAL SANTIAGO,639502218777,639350583785,353766854,Philippines - UMID Card (2011),...,3102,SAN LEONARDO,NUEVA ECIJA,15.3681911 | 120.9647815,10-08-2022,T12:24:03,OVERSEAS FILIPINO WORKER,Other Non Professional Services,Manufacturing,Others
2,1901410,NaN,NaN,21-Mar-97,27,MARA LADY LIM LAYSON,639368851229,639852010639,353766854,Philippines - Id Card (2020),...,9805,ISULAN,SULTAN KUDARAT,6.6328044 | 124.5983674,15-02-2023,T11:39:45,BUSINESS OWNER/SOLE PROPRIETOR,Owner,Services,Grooming (Salon / Parlour)
3,1812444,NaN,NaN,23-Dec-99,25,GIRREL PALOR AUMAN,639354963561,639700932592,223724698,Philippines - Health Card,...,8000,DAVAO CITY,DAVAO DEL SUR,7.0532679 | 125.6040032,11-12-2022,T09:03:58,SALARIED,Call Center Agent/Tele Marketer,Services,Call Centre / BPO
4,1271268,NaN,NaN,01-Aug-98,26,CHRISTINE MARY GULANE OTRERA,639922765359,639185878605,205366921,Philippines - UMID Card #1,...,6045,TALISAY,CEBU,0.00 | 0.00,12-03-2022,T05:25:44,SELF EMPLOYED,Other Professional services,Services,Call Centre / BPO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097 entries, 0 to 1096
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customerId               1097 non-null   int64
 1   loanAccountNumber        2 non-null      float64
 2   disbursedLoanAmount      2 non-null      float64
 3   dateOfBirth              1097 non-null   object
 4   Age                      1097 non-null   int64
 5   name                     1027 non-null   object
 6   Ref1_contact             1097 non-null   int64
 7   Ref2_contact             1097 non-null   int64
 8   tinNumber                1097 non-null   int64
 9   docType                  1094 non-null   object
 10  ID Type                  1097 non-null   object
 11  docNumber                1093 non-null   object
 12  email                    1097 non-null   object
 13  tsa_zip                  1097 non-null   int64
 14  tsa_city                 1097 non-null   object
 15  province                 1097 non-null   object
 16  custLoanJourneyZipCode   1097 non-null   int64
 17  custLoanJourneyCity      1097 non-null   object
 18  custLoanJourneyProvince  1097 non-null   object
 19  geolocation              1082 non-null   object
 20  loan_app_d               1097 non-null   object
 21  Loan app Time            1097 non-null   object
 22  employmentstatus         1095 non-null   object
 23  natureofwork             874 non-null    object
 24  industryDescription      1097 non-null   object
 25  subIndustryDescription   1097 non-null   object
dtypes: float64(2), int64(7), object(17)
memory usage: 223.0+ KB

In [5]:
df['customerId'] = df['customerId'].astype(str)
a = tuple(df['customerId'])
a[0:5]

('1152544', '1537578', '1901410', '1812444', '1271268')

In [7]:
df1 = client.query(f"""select * from prj-prod-dataplatform.dl_dynamo_db_raw.tdbk_jiraticket_trc where custId in {a}""").to_dataframe()
df1.shape

(0, 15)

In [12]:
sq = f"""with b1 as 
(select digitalLoanAccountId, cast(customerId as string) customerId , applicationStatus, Stage0_Status, stage1Status, stage0FailureReason, stage1FailureReason
from`risk_credit_mis.loan_master_table` 
where cast(customerId as string) 
in  {a}
)
select * from b1
---select * from prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_jira_details b2 
---# inner join b1 on b1.digitalLoanAccountId = b2.digitalLoanAccountId
"""

df1 = client.query(sq).to_dataframe()
df1

,digitalLoanAccountId,customerId,applicationStatus,Stage0_Status,stage1Status,stage0FailureReason,stage1FailureReason
0,3b65d92c-072d-494b-86ab-4d600acc6743,1920742,RESET,None,None,None,None
1,5153198a-ab0d-4314-8a2e-56263b1796a6,1904481,RESET,None,None,None,None
2,6a07906c-6bef-4df8-9135-94ea380d05f0,1791544,RESET,None,None,None,None
3,26c6912a-c986-4c62-a1ad-89c282e355bf,2064863,RESET,None,None,None,None
4,754b582c-aa82-488a-b342-61ae49e52793,2209956,CANCELLED,None,None,None,None
...,...,...,...,...,...,...,...
1497,ce603109-89c6-46d1-8262-6fd2730e055f,2332346,REJECT,None,None,None,None
1498,8216b71e-3c3a-44e5-9221-c06107ee7f73,2336410,REJECT,None,None,None,None
1499,b0cbc02c-16f5-4ba0-8229-4862578e2449,2428912,REJECT,None,None,None,None
1500,42b9a692-5343-4b4d-92f2-c98548cc6020,1430054,EXPIRED,REJECT,None,Applicant age is less then minimum age|Applica...,None
1501,c261dde1-a804-4f1a-b92e-710b52ee72d2,1400624,REJECT,ACCEPT,REJECT,None,Match with Customer with Hard Rejection in pas...

In [24]:
sq = f"""WITH
W_TICKETS_BASE1
AS
(
  select 
  b.issue_key,
  b.summary,
  REGEXP_EXTRACT(b.summary, r'\d+') AS customerid,
    CASE 
    WHEN ARRAY_LENGTH(SPLIT(summary, '|')) >= 2 THEN TRIM(SPLIT(summary, '|')[OFFSET(1)])
    ELSE NULL  -- or any default value you want to use when the format is unexpected
  END AS customer_id,
  REPLACE( REPLACE( REPLACE( REGEXP_REPLACE(b.summary, '[0-9]', '') , '|', ''), '  ', ' '), '  ', ' ') as Type, 
  b.created_date as Ticket_Creation_Dttm
  FROM
  prj-prod-dataplatform.jira_raw.cc_tickets b
  WHERE
  b.created_date < CURRENT_DATE AND EXTRACT(DATE FROM B.created_date) >= DATE '2023-08-01'
),
b1 as 
(select * from W_TICKETS_BASE1 where customerid is not null and length(customerid) = 7 )
select * from b1 where customerid in {a}
---
"""
print(sq)
df1 = client.query(sq).to_dataframe()

WITH
W_TICKETS_BASE1
AS
(
  select
  b.issue_key,
  b.summary,
  REGEXP_EXTRACT(b.summary, r'\d+') AS customerid,
    CASE
    WHEN ARRAY_LENGTH(SPLIT(summary, '|')) >= 2 THEN TRIM(SPLIT(summary, '|')[OFFSET(1)])
    ELSE NULL  -- or any default value you want to use when the format is unexpected
  END AS customer_id,
  REPLACE( REPLACE( REPLACE( REGEXP_REPLACE(b.summary, '[0-9]', '') , '|', ''), '  ', ' '), '  ', ' ') as Type,
  b.created_date as Ticket_Creation_Dttm
  FROM
  prj-prod-dataplatform.jira_raw.cc_tickets b
  WHERE
  b.created_date < CURRENT_DATE AND EXTRACT(DATE FROM B.created_date) >= DATE '2023-08-01'
),
b1 as
(select * from W_TICKETS_BASE1 where customerid is not null and length(customerid) = 7 )
select * from b1 where customerid in ('1152544', '1537578', '1901410', '1812444', '1271268', '1433044', '2073203', '2078567', '2171735', '2261673', '2384172', '1813301', '1941310', '2358052', '2424919', '1450849', '1256969', '1729826', '1689864', '2387056', '1928792', '1868021', '1194442', '1539762', '1953014', '1983855', '1587425', '1642486', '1814611', '1853226', '1920547', '1167521', '2070834', '2135845', '2278149', '2303987', '2359293', '2488322', '2487462', '1190437', '1927028', '1795697', '1482906', '1436572', '2045749', '2446358', '2409270', '1140031', '1254643', '1475116', '1542297', '1650273', '2456014', '1709762', '1832365', '1912544', '1657344', '2062460', '2133093', '1899117', '2400660', '1539762', '2334827', '1854851', '2405159', '1443063', '2463115', '1550204', '1685967', '1208327', '1516357', '2013763', '2227352', '1535750', '2136083', '1172740', '2277868', '2137257', '2406685', '2471009', '1297977', '1149102', '1213070', '2311189', '1394877', '1806346', '2411889', '1831406', '1305999', '1877296', '1926301', '1513313', '2100406', '2125713', '1808352', '1821505', '1870733', '1937429', '1907833', '2027659', '2271692', '2180178', '2409366', '1121444', '1606211', '1718704', '1450375', '2257119', '1457830', '2128557', '2485262', '1731979', '1787827', '1812045', '1306087', '1424930', '1845152', '2062840', '2160882', '2238934', '2278898', '2020736', '2304095', '2429326', '2168420', '1642814', '1968590', '2106910', '1120195', '1353823', '1368015', '1557148', '1703143', '1745675', '1850532', '2072520', '2205170', '2270456', '1672811', '2408375', '2478985', '1226266', '1466631', '2152702', '2248949', '2422850', '2477569', '2477893', '1697679', '1106169', '1314896', '1419349', '1296470', '1668173', '1115584', '1192793', '1989369', '1635127', '1523969', '2216340', '1512424', '2318909', '1958344', '2091964', '2173959', '2241678', '2268803', '2296175', '2384998', '2465075', '2475091', '2411770', '1239616', '1493898', '1195757', '1489623', '2374885', '2398464', '1495568', '1489165', '1699664', '1445257', '1736635', '1614708', '1415032', '2002686', '2118468', '2332885', '2377996', '1850798', '1247317', '1934098', '1829682', '2140431', '2271608', '2243515', '2303549', '2338974', '2270354', '2401265', '2405825', '1103599', '1729771', '1391770', '1218398', '2439213', '1557171', '1910076', '1980451', '2172444', '2240269', '1911511', '1862214', '1722628', '1943303', '2240854', '2303178', '2377987', '2390089', '2442410', '1775172', '1802467', '1619198', '1720716', '1296550', '1749154', '1267907', '2006268', '1479339', '2209956', '2307196', '1647072', '2365935', '2488359', '2208085', '1947560', '1994392', '2088490', '2102659', '1221447', '2271858', '2248270', '2478761', '1231056', '1788717', '2056132', '1282887', '1570961', '2412932', '2477361', '1312499', '1288782', '1283965', '1825912', '1492295', '1917935', '1896281', '2008893', '2180413', '1855993', '1939615', '1204475', '2198862', '2360837', '1123802', '1578296', '1300655', '1356096', '1778355', '1324639', '1498328', '1200903', '2079217', '2085708', '2121581', '1636353', '1667262', '2479227', '1702084', '1733225', '1826514', '1886945', '1988069', '2089604', '2271165', '2393281', '2136104', '1813800', '2357887', '2121537', '1360847', '1387687', '1273953', '2406536', '1871043', '2036655', '1714947', '1888191', '1991464', '2134455', '2193645', '1620948', '1812333', '1823503', '1741527', '2139554', '2045264', '2216227', '2292608', '2299195', '2326417', '2106172', '2368484', '2369478', '1688265', '2018611', '1536701', '1814618', '1836247', '1463836', '2182250', '1894430', '1484686', '1509144', '1532281', '1945076', '2039444', '2059774', '2227153', '2312479', '1688491', '1871414', '2390370', '1428954', '2437045', '1979666', '2462989', '1795566', '1377178', '1507612', '1953264', '2263116', '2064863', '1692158', '1720725', '1724142', '2029789', '2160955', '2058974', '2408356', '2441266', '1172040', '2089896', '2136577', '1412930', '2306690', '2120932', '2341916', '1998755', '1557999', '1403410', '1660608', '2019544', '2287922', '2393036', '1909661', '1953328', '1184131', '1802467', '2216315', '2260811', '2263216', '2355271', '2362626', '2386658', '2443249', '2324803', '1430054', '2133229', '1566448', '2428585', '1802467', '2143290', '2047863', '1341359', '1205536', '1453602', '2084931', '1567942', '1599504', '1416758', '2432394', '1882723', '2014104', '2193142', '2392245', '2153236', '1097164', '1833645', '1415326', '1892755', '1992168', '1495812', '2128323', '1006321', '1765358', '1803640', '1903297', '1945805', '2036496', '2080160', '2312706', '2334515', '2379226', '2405781', '1923103', '1634277', '1257023', '1101678', '2286102', '2029696', '1830148', '2420016', '2414172', '2469103', '1764381', '1298383', '1465347', '1488316', '2080275', '1661943', '1542517', '1962385', '2360988', '2380851', '2156849', '1439972', '1456847', '2321930', '1953644', '1224937', '2258425', '2488322', '2462452', '2408470', '1195075', '1315891', '1705064', '1763073', '1762605', '1187862', '1787087', '2234447', '2243637', '2275446', '2335221', '2352397', '2383748', '2469948', '2477328', '1776425', '1109222', '1595669', '1329049', '2064816', '2308397', '1274773', '1316583', '1813633', '1432670', '1942510', '2009960', '2198629', '1615545', '2387753', '1864911', '1965194', '2081521', '2119911', '2156519', '2313673', '2356869', '1138271', '1227025', '1436572', '1264797', '1374697', '1315334', '1438176', '1450905', '1741655', '2095680', '1503536', '2126466', '1528455', '1562214', '1562260', '2259548', '2379703', '2267279', '1715794', '2471191', '2467728', '1600379', '1430139', '1476513', '1461519', '1591230', '1427956', '1889933', '1097167', '1284463', '1497080', '1462138', '1920941', '2281024', '2319477', '1192135', '1966480', '1300115', '1846107', '2186988', '1723189', '1247758', '2357896', '1100712', '1837781', '2103249', '2062775', '2253186', '2419307', '1242776', '1279157', '1349249', '2445891', '1772035', '2009251', '1775737', '1900316', '1436071', '2308816', '2327815', '2432388', '1328698', '1160286', '1329834', '2356717', '1496632', '1779697', '1337796', '1386378', '1896925', '1450316', '2150046', '1663629', '1666363', '2431982', '1838752', '1874611', '2036766', '2080924', '2150477', '2196000', '2215094', '2279044', '2341204', '2386043', '2400365', '2451117', '1647877', '1160067', '2391603', '2395426', '2121581', '1419031', '1422822', '1444897', '1651622', '1216524', '1203861', '1962298', '2066929', '1160184', '2265714', '2289001', '2321102', '2418411', '1247125', '1135333', '1147855', '1415762', '1579958', '2382493', '2304945', '2259006', '1611452', '1920941', '2352785', '1409695', '1756622', '1825822', '2127381', '1126412', '1973195', '1316554', '2187284', '2262398', '2333894', '2373753', '2097155', '2325247', '1253995', '1588050', '2378469', '1790163', '2438084', '1335879', '1335280', '1342003', '1290788', '1935492', '2164938', '2250925', '2329534', '1536677', '2438039', '1693034', '1994872', '2082709', '2164700', '2357885', '2468986', '2421471', '1606412', '2440786', '1531797', '1121539', '1844468', '1214861', '1913677', '1356505', '1208922', '2023676', '2022930', '2268916', '1641436', '2323527', '2406453', '2476890', '1622251', '1658147', '1808500', '1748172', '2068952', '1509414', '2260085', '2361463', '2467042', '2447671', '2448594', '2402998', '2391741', '2285084', '2270059', '2260828', '2424946', '2424141', '1647877', '2380731', '2469787', '1384379', '1344628', '1600783', '2006744', '2471474', '1868815', '1967991', '1837530', '2231971', '2323526', '2380037', '2414411', '2474574', '2452435', '1781196', '2266521', '2000020', '1670373', '1904577', '1511665', '2148853', '2417552', '1882541', '1891278', '1900874', '1955660', '2053496', '2115338', '2091762', '1110154', '2199954', '2208248', '2397475', '2402399', '2469015', '1095957', '2355431', '2362495', '2140191', '1938623', '2477842', '1093281', '1781304', '1358872', '2043114', '1966640', '2161860', '1590453', '2239803', '1616904', '2382573', '2455071', '1729036', '1891875', '1997467', '2050850', '2069105', '2368813', '2450982', '1429270', '1149425', '2018365', '1300022', '1499604', '1808500', '2449050', '1330076', '1312095', '1862245', '1015963', '2050806', '2250301', '1877251', '1954548', '1972334', '2399535', '2438915', '2150259', '2225091', '1403388', '1685250', '1445939', '2420640', '1725680', '2177704', '1160313', '1878971', '1705316', '2271480', '2423442', '2438452', '1756195', '2037917', '2357320', '2392900', '2399785', '2188893', '2296986', '1794069', '1925627', '1324628', '1495777', '1427281', '1453697', '1520214', '1741044', '1790394', '2145901', '2446728', '2444787', '1171006', '1497330', '1764968', '2332241', '1531213', '1448774', '1580999', '1624498', '1445257', '2316409', '1592536', '2397724', '1599082', '1869420', '1872448', '1903220', '2161455', '2274612', '2483627', '2475011', '2451024', '1799621', '1572598', '1440561', '1915369', '2271118', '1138532', '1406773', '1883810', '1562922', '2217131', '2460384', '1807640', '1967731', '2019282', '2034085', '2106112', '2209501', '2271151', '2224139', '2332346', '2433214', '2443800', '2427422', '1406729', '1134378', '1904481', '1865457', '2477586', '1323927', '1830198', '1509401', '1522173', '2149918', '2198273', '2201736', '1677084', '1695118', '1841982', '1828950', '1922307', '1930611', '1966153', '1992094', '2000284', '1848312', '2194031', '2306196', '2313966', '2319117', '2323984', '2392669', '2428331', '2480937', '2434348', '1475524', '2340090', '1947000', '2319776', '1925362', '2349600', '1652750', '1140704', '1291836', '1332197', '2033392', '1587754', '1597762', '1677679', '1709291', '1939290', '1943573', '2140191', '2236137', '1271511', '1122172', '1123395', '1291538', '2363052', '1368188', '1394915', '1226266', '1968469', '1582452', '1647042', '1829374', '1832216', '1875006', '1950746', '1770487', '2274305', '2282923', '2382068', '2400181', '2411399', '1428559', '2272551', '1403768', '1399620', '1158490', '1791544', '2353211', '2093494', '1175549', '1303936', '1409469', '1517743', '2381759', '2409278', '2387711', '1711299', '1755211', '1791068', '1800028', '1869644', '1899650', '1909882', '1217475', '1985173', '2176756', '2234336', '2405965', '2155599', '2428912', '1490843', '1245759', '1262631', '1178984', '1381779', '1254409', '2038362', '1993788', '2370005', '1933406', '1652181', '2373344', '2374815', '2471358', '1860102', '1601211', '2440499', '1889933', '1494344', '1405973', '1575540', '1459728', '1462084', '1279355', '2150948', '1570687', '1592612', '2436470', '1853935', '1968434', '2064943', '2396985', '2406095', '2428454', '1273092', '1287926', '1392176', '1575808', '1152915', '2077186', '1815055', '1251466', '2442771', '2122916', '1108852', '1316995', '1271036', '1962944', '2085970', '1505806', '2136888', '1535886', '1542744', '2197415', '2293739', '2414671', '1801026', '2146317', '2322527', '2372937', '2429147', '1231675', '1195868', '1400624', '1095129', '1565299', '2029696', '1783141', '2420190', '1920941', '1513115', '1333081', '1131160', '1290942', '1470488', '2093289', '2237366', '2301587', '2401452', '1667171', '1622603', '1990690', '2042406', '1236487', '2201410', '2295213', '2381167', '2470312', '2432369', '2433015', '1492804', '2313778', '1808194', '1989455', '1870847', '1889312', '1651888', '1262183', '1984388', '2012949', '2023682', '2226620', '2436950', '1615836', '1241757', '2145150', '2336410', '1251750', '1132618', '1378795', '1683365', '1201695', '1473211', '1621015', '2442890', '1944723', '2002899', '1568837', '1462930', '2303300', '2388794', '2405379', '2411499', '2476757', '1266119', '1737002', '2405179', '2361500', '1498838', '2420540', '2452177', '2282530', '1454330', '1461926', '1779286', '1889683', '1651888', '1815407', '2040588', '2059421', '1028810', '2000699', '2308626', '2333184', '2345255', '2411084', '2294263', '2468178', '2330864', '2275995', '1920742', '2430648', '1720716', '2469808', '1388046', '1839060', '1922782', '1441219', '1214327', '1496093', '2156257', '2271253', '2487019', '1881048', '1930737', '2067368', '1913064', '2266701', '2365853', '2372897', '2413494', '2475539', '1583215')
---

In [25]:
df = df.merge(df1, left_on='customerId', right_on='customerid', how = 'left')
df

,customerId,loanAccountNumber,disbursedLoanAmount,dateOfBirth,Age,name,Ref1_contact,Ref2_contact,tinNumber,docType,...,employmentstatus,natureofwork,industryDescription,subIndustryDescription,issue_key,summary,customerid,customer_id,Type,Ticket_Creation_Dttm
0,1152544,NaN,NaN,20-Nov-66,58,DAVID ROPETA LABUSON JR,639063152204,639487565079,353766854,Philippines - Social Security Card #1,...,UNEMPLOYED,NaN,Services,Others,NaN,NaN,NaN,NaN,NaN,NaT
1,1537578,NaN,NaN,15-Oct-89,35,JUDITH PUNZAL SANTIAGO,639502218777,639350583785,353766854,Philippines - UMID Card (2011),...,OVERSEAS FILIPINO WORKER,Other Non Professional Services,Manufacturing,Others,NaN,NaN,NaN,NaN,NaN,NaT
2,1901410,NaN,NaN,21-Mar-97,27,MARA LADY LIM LAYSON,639368851229,639852010639,353766854,Philippines - Id Card (2020),...,BUSINESS OWNER/SOLE PROPRIETOR,Owner,Services,Grooming (Salon / Parlour),NaN,NaN,NaN,NaN,NaN,NaT
3,1812444,NaN,NaN,23-Dec-99,25,GIRREL PALOR AUMAN,639354963561,639700932592,223724698,Philippines - Health Card,...,SALARIED,Call Center Agent/Tele Marketer,Services,Call Centre / BPO,NaN,NaN,NaN,NaN,NaN,NaT
4,1271268,NaN,NaN,01-Aug-98,26,CHRISTINE MARY GULANE OTRERA,639922765359,639185878605,205366921,Philippines - UMID Card #1,...,SELF EMPLOYED,Other Professional services,Services,Call Centre / BPO,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,2365853,NaN,NaN,29-Mar-00,24,CLIFFORD JOHN ESPIRITU DAPON,639620662963,639693089519,353766854,Philippines - ePassport (2016),...,SALARIED,Other Non Professional Services,Services,Manpower / Manning Agencies (Construction Indu...,CC-2267005,Onboarding | 2365853 | mandatory CDD Review,2365853,2365853,Onboarding mandatory CDD Review,2024-01-11 20:42:14
1101,2372897,NaN,NaN,30-Nov-01,23,JHON RAFAEL MARAVELLES NEPOMUCENO,639513663161,639109105578,353766854,Philippines - Driving License (2017) #3,...,BUSINESS OWNER/SOLE PROPRIETOR,Owner,Services,Others,CC-2279848,Onboarding | 2372897 | mandatory CDD Review,2372897,2372897,Onboarding mandatory CDD Review,2024-01-18 23:46:21
1102,2413494,NaN,NaN,29-May-00,24,ALVIN GUINABO MOJANA,639198614676,639640115307,353766854,Philippines - Id Card (2020),...,SELF EMPLOYED,Farmer/Fisherman,Agriculture,Agriculture / Horticulture,CC-2355076,Onboarding | 2413494 | Manual ID Upload - CDD ...,2413494,2413494,Onboarding Manual ID Upload - CDD Review,2024-02-27 22:21:46
1103,2475539,NaN,NaN,02-Jun-05,19,JOHN ANTHONY RIZALDO GOLPEO,639516830454,639476159086,353766854,Philippines - Id Card (2020),...,STUDENT,NaN,Trading,Others,CC-2461230,Onboarding | 2475539 | mandatory CDD Review,2475539,2475539,Onboarding mandatory CDD Review,2024-04-21 18:29:23
1104,1583215,NaN,NaN,05-Oct-84,40,JACKY MAE INSONG AGUNOD,639670240109,639926910013,205366921,Philippines - Postal Id Card,...,SALARIED,Call Center Agent/Tele Marketer,Technology,Others,NaN,NaN,NaN,NaN,NaN,NaT

In [26]:
df.to_excel("jira_ticketandTicketsummary_data_20240513.xlsx", index = False)