In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

In [4]:
sq = """with base as 
(select id, cust_mobile1 mobile , created_dt, created_by, 'mobile1' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_mobile2 mobile , created_dt, created_by, 'mobile2' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_ref_mobile1 mobile , created_dt, created_by, 'mobileref1' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
union all
select id, cust_ref_mobile2 mobile , created_dt, created_by, 'mobileref2' tab
from prj-prod-dataplatform.dl_notifications_db_raw.tdbk_fraud_blacklist
),
base2 as(select customerId, mobileNo, refContact, Ref1_contact, Ref2_contact  from `risk_credit_mis.loan_master_table` where right(mobileNo, 10) in ('9665512365', '9178208819', '9154780965')),
base3 as (select customerId, mobileNo mob, 'mobileNo'tab from `risk_credit_mis.loan_master_table` 
union all  
select customerId, Ref1_contact mob, 'Ref1_contact'tab from `risk_credit_mis.loan_master_table` 
union all  
select customerId, Ref2_contact mob, 'Ref2_contact'tab from `risk_credit_mis.loan_master_table` )
select * from base2 b2
inner join base b on right(b2.mobileNo, 10) = right(b.mobile, 10) or right(b2.Ref1_contact, 10) = right(b.mobile, 10) or right(b2.Ref2_contact, 10) = right(b.mobile, 10)
inner join base3 b3 on right(b3.mob, 10) = right(b.mobile, 10)
;
"""

In [5]:
df = client.query(sq).to_dataframe(progress_bar_type='tqdm')

Job ID 5c5d2cdf-c2d2-4d64-a6d5-a0fa95985f60 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

In [6]:
df.to_csv(r"blacklisteddataformobilenumber_20240613.csv", index = False)

In [7]:
df.head()

,customerId,mobileNo,refContact,Ref1_contact,Ref2_contact,id,mobile,created_dt,created_by,tab,customerId_1,mob,tab_1
0,1086854,639665512365,639178208819;639488183778,639178208819,639488183778,31074,639665512365,2023-10-17 15:09:37+00:00,INST_SR37429,mobileref1,1086854,639665512365,mobileNo
1,1086854,639665512365,639178208819;639488183778,639178208819,639488183778,30940,639665512365,2023-10-17 15:09:35+00:00,INST_SR37429,mobileref1,1086854,639665512365,mobileNo
2,1086854,639665512365,639178208819;639488183778,639178208819,639488183778,31031,639665512365,2023-10-17 15:09:36+00:00,INST_SR37429,mobileref1,1086854,639665512365,mobileNo
3,1086854,639665512365,639178208819;639488183778,639178208819,639488183778,31050,639665512365,2023-10-17 15:09:36+00:00,INST_SR37429,mobileref1,1086854,639665512365,mobileNo
4,1086854,639665512365,639178208819;639488183778,639178208819,639488183778,31001,639665512365,2023-10-17 15:09:36+00:00,INST_SR37429,mobileref1,1086854,639665512365,mobileNo